body{
  /*min-height: 100vh;*/
  /* background: linear-gradient(.25turn, rgb(89, 0, 190), 10%, rgb(2, 0, 119)); */
  background: black;
  color: white;
}

.quizContainer{
  text-align: center;
}

/*
@keyframes gradient-shift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
*/
